.side_menu {
  width: 15%;
  height: 100%;
  background-color: #434e64;
  font-family: "Roboto", sans-serif;

  > .title {
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: center;

    > h2 {
      text-transform: uppercase;
    }
  }

  > .side_box {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;

    .option_category {
      > .group {
        cursor: pointer;
        width: 100%;
        height: 2.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .option_name {
          font-size: 1vw;

          display: flex;
          align-items: center;
          gap: 0.5vw;
          > i {
            color: #b1b4c5;
          }

          > h5 {
            color: #b3b3b3;
            font-weight: 400;
          }
        }

        > i {
          color: #fff;
          font-size: 1em;
        }
      }

      list-style: none;

      > .option {
        display: flex;
        align-items: center;
        gap: 0.3vw;
        padding: 0.5vw 0vw;
        padding-left: 0.6vw;
        width: 100%;
        color: #fff;

        opacity: 0;
        transform: translateY(-6px);
        pointer-events: none;
        transition:
          opacity 0.25s ease,
          transform 0.25s ease;

        > i {
          font-size: 0.25vw;
        }

        > .item {
          font-size: 0.8vw;
          color: #ffffff;
          font-weight: 400;
        }
      }

      > .open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }
  }
}
