.wrap_auth {
  width: 100vw;
  height: 100vh;
  background-color: #2b4054;
  display: flex;
  align-items: center;
  justify-content: center;

  > .form {
    width: 30%;
    border-radius: 0.5vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;

    padding: 2vw;
    font-family: "Roboto", sans-serif;
    > .group-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      > .title {
        font-size: 2em;
      }

      > .description {
        font-size: 0.85em;
        font-weight: 500;
        color: rgb(100, 100, 100);
      }
    }

    > .group-input {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.3vw;

      > .input-box {
        background-color: #fff;
        border: 1px solid #dee2e6;
        display: flex;
        border-radius: 0.2vw;
        transition: border-color 0.5s ease;

        > .icon {
          width: 2vw;
          height: 2vw;
          background-color: #f8f9fa;
          display: flex;
          align-items: center;
          justify-content: center;

          > i {
            font-size: 0.8vw;
            color: #575a5e;
          }
        }

        > .showPass {
          width: 2vw;
          height: 2vw;
          background-color: #f8f9fa;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #dee2e6;
          cursor: pointer;

          > i {
            font-size: 0.8vw;
            color: #575a5e;
          }
        }

        > input {
          padding-left: 0.5vw;
          outline: none;
          flex: 1;
          border: none;
          background: none;
        }

        &:hover {
          border: 1px solid #9fa3a7;
        }
      }

      .message {
        color: rgb(168, 11, 11);
        font-size: 0.9em;
        font-weight: 500;
      }
    }

    > .group-input-check {
      width: 100%;
      display: flex;
      gap: 0.5vw;

      > label {
        font-size: 0.9em;
      }
    }

    > button {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3vw;
      outline: none;
      background-color: #0b5ed7;
      border: none;
      height: 5vh;
      border-radius: 0.2vw;
      color: #fff;
      font-size: 1vw;
      transition:
        transform 0.5s,
        background-color 0.5s ease;

      &:hover {
        transform: scale(0.98);
        background-color: rgb(9, 58, 133);
      }
    }

    > .redirect_auth {
      font-size: 0.7vw;
      font-weight: 350;
      cursor: pointer;
      > span {
        color: #397ec2;
      }
    }
  }
}
