.wrap_auth {
  width: 100vw;
  height: 100vh;
  background-color: #2b4054;
  display: flex;
  align-items: center;
  justify-content: center;

  > .form {
    width: 30%;
    border-radius: 0.5vw;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;

    padding: 2vw;
    font-family: "Roboto", sans-serif;

    > .message {
      width: 100%;
      padding: 0.5vw;
      border: 1px solid red;
      background-color: rgb(117, 0, 0);
      border-radius: 0.3vw;
      color: #fff;
      font-size: 0.9em;
    }

    > .group-title {
      display: flex;
      flex-direction: column;
      align-items: center;

      > .title {
        font-size: 2em;
      }

      > .description {
        font-size: 0.85em;
        font-weight: 500;
        color: rgb(100, 100, 100);
      }
    }

    > .group-input {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.3vw;

      > .input-box {
        background-color: #fff;
        border: 1px solid #dee2e6;
        display: flex;
        border-radius: 0.2vw;

        > .icon {
          width: 2vw;
          height: 2vw;
          background-color: #f8f9fa;
          display: flex;
          align-items: center;
          justify-content: center;

          > i {
            font-size: 0.8vw;
            color: #575a5e;
          }
        }

        > .showPass {
          width: 2vw;
          height: 2vw;
          background-color: #f8f9fa;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #dee2e6;
          cursor: pointer;

          > i {
            font-size: 0.8vw;
            color: #575a5e;
          }
        }

        > input {
          padding-left: 0.5vw;
          outline: none;
          flex: 1;
          border: none;
          background: none;
        }
      }
    }

    > button {
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3vw;
      outline: none;
      background-color: #0b5ed7;
      border: none;
      height: 5vh;
      border-radius: 0.2vw;
      color: #fff;
      font-size: 1vw;
    }

    > .redirect_auth {
      font-size: 0.7vw;
      font-weight: 350;
      > span {
        color: #397ec2;
      }
    }
  }
}
